
<nav class="nav has-shadow animated fadeInDown">
    <div class="nav-left">
      <a href="/points" class="nav-item title is-2 logo">
        <img src="/assets/images/002-flash-1.png" alt="Juicer logo">Juicer
      </a>
      <a class="nav-item" href="/points">Charge Points</a>
      <a class="nav-item" href="/points/new">Add a Charge Point</a>



    </div>
    <div class="nav-right">
      <%  if(!locals.isLoggedIn) { %>
        <a class="nav-item" href="/login">Log In</a>
        <a class="nav-item" href="/register">Register</a>
        <% } else { %>
          <a class="nav-item" href="/logout">Logout</a>
          <a class="nav-item" href="/profile">Hi <%= `${user.username}` %></a>
          <% } %>

        </div>
    </nav>
