<h1>New Points</h1>

<div class="row">

  <div id="map" class="private-point"></div>
  
  <form class="six columns" method="POST" action="/points">
    <div>
      <label for="pointName">Charge Point Name</label>
      <input class="u-full-width" type="text" name="pointName" id="pointName">
    </div>

    <div>
      <label for="address">Address</label>
      <input class="u-full-width" type="text" name="address" id="address">
    </div>

    <div>
      <label for="lat">Lat</label>
      <input class="u-full-width" type="number" name="lat" id="lat">
    </div>
    <div>
      <label for="lng">Lng</label>
      <input class="u-full-width" type="number" name="lng" id="lng">
    </div>

    <div>
      <label for="available">Availability</label>
      <input class="u-full-width" type="text" name="available" id="available">
    </div>

    <div>
      <label for="Format">Format of Connector</label>
      <input class="u-full-width" type="text" name="format" id="format">
    </div>

    <div>
      <label for="notes">Notes</label>
      <textarea class="u-full-width" name="notes"></textarea>
    </div>

    <button class="button-primary u-full-width">Create</button>
  </form>
</div>
