<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Juicer WDI27-LDN_Projo2</title>
  <% include ./partials/scripts %>
  <% include ./partials/stylesheets %>
</head>
<body>
  <% include ./partials/header %>
  <div class="columns">
  <div class="column">
    <% if (Object.keys(locals.messages).length !== 0) { %>
      <div class="notification is-primary">
        <% for(const type in messages) { %>
          <div>
            <h5><%= messages[type] %></h5>
          </div>
        <% } %>
      </div>
    <% } %>
  </div>
</div>
  <main class="container">
    <%- body %>
  </main>
  <% include ./partials/footer %>
</body>
</html>
