

<div class="loginForm column is-offset-one-quarter is-half">
  <h1 class="label" >Login to Juicer</h1>
  <form class="loginForm" method="POST" action="/login">
    <div class="field">
      <label class="label" for="email">Email</label>
      <input class="input" type="text" name="email" id="email" required>
    </div>

    <div class="field">
      <label class="label" for="password">Password</label>
      <input class="input" type="password" name="password" id="password" required>
    </div>

<div class="buttons">
    <a class="button is-primary">Login</button>
      <a href="<%= oauth.facebook.getLoginURL() %>" class="button is-primary"><i class="fa fa-facebook-official" aria-hidden="true">  </i> Login with Facebook</a>
    </form>
  </div>
</div>
