

body {
  font-family: 'Monda', sans-serif;
  margin: 0 auto;
}

#video-background {
  /*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  top: 0;
  max-height: 600px;
  video-background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.jumbotron {
  margin-top: 20px;
  height: 75vh;
  z-index: 100;
  color: black;
  font-weight: bold;
    h1 {
      font-size: 80px;
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 30px;
    }
}

 .enter-button {
   width: 100px;
   margin: auto;
   margin-top: 20px;
 }

  .logo {

    margin-top: 20px;
  }

  .nav {
    background-color: #57A773;
  }

  .index-card {
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
  }

  .points {
    height: 85vh;
    overflow: scroll;
  }

  a.nav-item {
    padding-bottom: 20px;
    color: white;
    margin-top: 20px;
  }


#map {
  height: 85vh;
  background-color: lightgrey;
  width: 100%;
  margin-bottom: 50px;
}

#map.loading:after {
  content: 'loading...';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  line-height: 600px;
  text-align: center;
  color: white;
  font-size: 100px;
}

.private-point {
  height: 30vh;
  width: 200px;
}

.right {
  float: right;
}
.left {
  float: left;
}

.fa.fa-facebook-official {
  padding-right: 5px;
}


.button.is-primary.is-fullwidth {
  margin-bottom: 10px;
}
  .button{
    display: block;
    margin-bottom: 10px;
  }

h1.label {
  text-align: center;
}

.register-button {
  text-align: center;
}

.new-point-box {
  margin-bottom: 20px;
}

.create-point-btn {
  margin-top: 20px;
  text-align: center;
}

.index-map {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.show-button {
  width: 75px;
}

.show-point-image {
  max-width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
}

.show-button {
  display: inline-block;
}

.private-point-show {
  height: 50vh;
}

.booking-button {
  margin-top: 20px;
}

.update-button {
  margin-top: 20px;
}

.update-profile-button {
  margin-top: 20px;
}

.register-button {
  margin-top: 20px;
}
